@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string imageFileName;
}

    <div class="row">
        <h1>Elenco prodotti</h1>
    </div>
    <form method="post" >
    @foreach (var item in Model.DataModel)
    {
        imageFileName = $"/images/ProductID{item.ProductId}.png";
        <div class="row">
            <div class="col-md-3"><img src=@imageFileName height="100" width="100" /></div>
            <div class="col-md-9">
                <div class="row">@item.ShortDescription</div>
                <div class="row">Prezzo : @item.Amount.ToString("#,##0.00")</div>
                <div class="row"><button type="submit" asp-page-handler="AddCart" asp-route-ProductID="@item.ProductId" class="btn btn-default right">Aggiungi al carrello</button></div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
    }
    </form>

