<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <!-- (Domain Model Data Manager) Data Access Provider NHIbernate -->
    <!--<component id="DomainModelDataManager" service="DOORS.Data.DataManagers.DomainModel.IDomainModelDataManager`1, DOORS.Data" type="DOORS.Data.DataManagers.DomainModel.Providers.NHibernate.NHDomainModelDataManager`1, DOORS.Data" lifestyle="transient">
    </component>!-->
    <component id="ProductsDal" service="ShoppingOnline.DataAccess.IDataAccessLayer`1, ShoppingOnline.DataAccess" 
               type="ShoppingOnline.DataAccess.ProductsDal`1, ShoppingOnline.DataAccess" lifestyle="transient">
    </component>

    <component id="SellingInfoDal" service="ShoppingOnline.DataAccess.IDataAccessLayer`1, ShoppingOnline.DataAccess"
               type="ShoppingOnline.DataAccess.SellingInfoDal`1, ShoppingOnline.DataAccess" lifestyle="transient">
    </component>
  </components>
</configuration>
